<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.alibaba.tangtang.jianmeile"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 相关权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".other.ui.LoginActivity"
            android:theme="@style/MyNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".other.ui.MainActivity" />
        <activity
            android:name=".other.ui.GuideActivity"
            android:theme="@style/MyNoActionBar" />
        <activity android:name=".other.ui.HomeActivity" />
        <activity android:name=".other.ui.FirstActivity"></activity>
    </application>
</manifest>